*{
    margin: 0;
    padding: 0;
    outline:none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --hi:rgb(50, 133, 228);
    --load:rgb(255, 123, 0);
}
::selection{
    color: #fff;
    background:rgba(255, 192, 203, 0.802);
    font-weight: 500;
}
body{
    background-color: #ffffff;
}
.page{
    width: 100vw;
}
.main{
    background-color: var(--hi);
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 1.3s;
}
.main h1 a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size:2.1vw;
    padding: .5vw;
    text-align: center;
}
.main>h1:nth-child(1) a{
    font-size: 3vw;
    font-weight: 900;
}
.main h1{
    transition: all 1.3s;
    padding: .5vw;
}
/* .main:hover{
    transform: skewX(40deg) scaleX(.9);
    border-radius: 2vw;
}
.main:hover h1{
    transform: skewX(-40deg) scale(1.1);
} */
#scroll{
    width: 15vw;
    height: .6vw;
    background-color: rgb(255, 127, 127);
    border-radius: .1vw;
    position: absolute;
    transition: all.5s ease-in-out;
    left: 0;
}
.main-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.main-logo img{
    transition: all .7s;
    width: 15vw;
    height: auto;
}
.img-scroller{
    width: 100vw;
    min-height: max-content;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.img-scroller>#img{
    margin: 1vw;
    width: 50vw;
    height: 65vh;
    border-radius: 1vw;
    transition: all .7s;
}
.img-scroller img:hover{
   transform: scale(1.04,1.03);
   box-shadow: 2px 2px 10px .5px #8d8d8d;
}
.menu-index{
    display: flex;
    position: absolute;
    background-color: var(--hi);
    filter: opacity(.7);
    left: 0;
    width: 20vw;
    font-size: 2vw;
    margin: 1vw;
    border-radius: .7vw;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 6px 1px grey;
    color: #fff;
    text-transform: capitalize;
}
.menu-index>span{
    padding: .4vw;
    text-align: center;
    width: 100%;
    transition: all .7s;
}
.menu-index>h1{
    font-size: 2vw;
    color: rgb(255, 60, 0);
}
.menu-index>span:hover{
    background-color: #fff;
    cursor: pointer;
    background-color:var(--hi);
}
.btn>button{
    padding: .4vw;
    background-color: #fff;
    border: 3.5px solid  var(--hi);
    border-radius: .7vw;
    transition: all .7s;
    font-size: 1vw;
    min-width: 5vw;
    margin:0 1vw;
    transform-style: preserve-3d;
    color: var(--hi);
    font-weight: 900;

}
.btn button:hover{
    background-color: var(--hi);
    color: #fff;
}
.img-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 20vw;
    height: 65vh;
    background-color:transparent;
    right: 2vw;
    overflow: auto;
    border-radius: .1vw;
    margin-top: 1vw;
}
.img-list>img{
   width: 80%;
   height: 20vh;
   margin: .2vw;
   transform: scale(.7,.7);
   transition: all .7s;
   border-radius: 1vw;
}
#table{
    position: relative;
    text-align: center;
    background-color: #efefef;
    width: 100vw;
    padding: 1vw; 
    margin-top: 2vw;
}
#table span{
    font-size: 2vw;
    opacity: .6;
    font-weight: 800;
}
#table td{
    font-weight: 600;
    font-size: 1.3VW;
    color: rgb(33, 33, 33);
}
#table table,#table td{
    border: 1px solid rgb(189, 189, 189);
    opacity: .9;
}
#table table{
    display: flex;
    align-self: center;
    border-radius: .5vw;
    position: relative;
    margin-top: 1vw;
    border: 5px solid gray;
    box-shadow: 1px 2px 10px 2.5px grey;
}
#table table a{
    text-decoration: none;
    color: var(--hi);
}
#cursor{
    display: none;
    transition: all .1s;
    position:sticky;
    left: 0;
    width: 45px;
    height: 45px;
    opacity: .7;
    background: linear-gradient(45deg,rgb(0, 170, 255),rgb(146, 219, 227));
    border-radius: 50%;
    opacity: 0;
    background-blend-mode: difference;
    transform: translate(-50%,-50%);
}
.loading{
    display:flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 10;
    
}
.loader{
    margin: 2vw;
    /* outline-color: var(--load);
    outline-style: dashed;
    outline-width: 1vw; */
    border-radius:50%;
    width: 100px;
    height: 100px;
    /* animation: loading 3s ease-in infinite; */
    background-blend-mode:difference;
    background: url('/images/dog.gif');
    background-position:center;
    background-size: cover;
}
@keyframes loading{
    0%{
        transform:rotateZ(0deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
@media (width < 1150px) {
    .img-scroller,.img-list,.menu-index{
        height: 40vh;
        overflow: auto;
    }
    .main h1 a{
        font-size:3.5vw;
    }
    .main h1:nth-child(1) a{
        font-size: 4.5vw;
    }
    #table td{
        font-size: 2.5vw;
    }
    #table table{
        margin: 0;
        overflow: hidden;
    }
    #cursor{
        visibility: hidden;
    }
}
@media (width < 700px) {
    .img-scroller,.img-list,.menu-index{
        height: 30vh;
        overflow: auto;
    }
}
@media (width < 500px) {
    .img-scroller,.img-list,.menu-index{
        height: 20vh;
    }
    .img-scroller>#img{
    width: 50vw;
    height: 65vh;
    }
}